*
!build.zig
!flake.nix
!flake.lock
!LICENSE
!README.md
!src/
!src/**
!scripts/
!scripts/**
!docker/
!docker/h3-server/
!zig-out/
!zig-out/bin/
!zig-out/bin/h3-server
!zig-out/share/
!zig-out/share/wasm-quic/
!zig-out/share/wasm-quic/**
