*
!build.zig
!flake.nix
!flake.lock
!LICENSE
!README.md
!src/
!src/**
!scripts/
!scripts/**
!docker/
!docker/h3-server/
!demo/
!demo/site/
!demo/site/index.html
!zig-out/
!zig-out/bin/
!zig-out/bin/h3-server
