*
!build.zig
!flake.nix
!flake.lock
!LICENSE
!README.md
!src/
!src/**
!scripts/
!scripts/**
!demo/
!demo/h3-server/
!demo/h3-server/Dockerfile
!zig-out/
!zig-out/bin/
!zig-out/bin/h3-server
!zig-out/share/
!zig-out/demo-site/
!zig-out/demo-site/**
